*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #C2C2C2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
nav{
  height: 100px;
  width: 100%;
  background-color: #123485b0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px; 
}
ul{
  display: flex;
  width: 50%;
  justify-content: space-around;
}
li{
  list-style: none;
}
a{
text-decoration: none;
color: black;
}
span{
  display: inline-block;
  width: 50px;
}
.fa-shopping-cart{
  font-size: 25px;
}